header{
    letter-spacing: 10%;
    font-size: 75px;
    line-height: 2em;
    color:#176AB7;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Amatic SC', cursive;
}
body{
    background-color: #EEFCCE;
}
p{
    color:#EAB631;
    font-family: 'Caveat Brush', cursive;
    font-size: 32px;
    line-height: 1.1em;
    padding: 0px 100px 0px 100px;
}
div{
    
}

@media(max-width: 769px){
    body{
        width:95%;
    }

    header{
        font-size:48px;
    }

    h2{
        font-size:20px;
    }

    p{
        font-size:16px;
        padding: 0px 10px 0px 10px;
    }
}